$bg-dark: #232B2B
$primary: #FCBA03
$grey: #E5E5E5

@mixin transition($effect)
  transition: $effect .35s ease-in-out

// Responsivness mixins
@mixin small-device
  @media (max-width: 767px) 
    @content

@mixin small-device-landscape
  @media (max-width: 767px) and (orientation: landscape)
    @content
  
@mixin small-device-portrait
  @media (max-width: 767px) and (orientation: portrait)
    @content